.text-header{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.text{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
ul{
    padding-left: 0;
}
.list-item li{
    list-style-type: none;
    padding-bottom: 18px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }
li img {
    padding-right: 16px;
}


.btn-style{
    background: #5CB85F;
    border-radius: 2px;
    border-color: #5CB85F;
}
header .desc-header{
    padding-left: 100px;
    padding-top: 37px;
}

header  .btn-style{
    border-radius: 2px;
    border-color: #5CB85F;
    margin-right: auto;
    background-color: #5CB85F;
}
header .desc-header .text1-header{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #000000;
}
header .desc-header .text{
    padding-right: 130px;
}
header .desc-header button{
    margin-top: 16px;
    background-color: #5CB85F;
}

@media only screen and (max-width : 576px)  {
    header .desc-header .img-car{
        padding-right: 0px;
    }
    header .desc-header{
        padding-left: 0;
    }
    header .desc-header .text1-header{
        width: 100%;
    }
    header .desc-header .text{
        padding-right: 0;
        width: 100%;
    }
    .desc-header img{
        width:100%;
    }
    #whyus .text-header{
       text-align: center;
    }
    #whyus .text{
        text-align: center;
     }
     .offcanvas{
        width: 50%;
    }
}
@media (min-width : 426px) and (max-width : 768px)  {
    header .desc-header{
        padding-left: 20px;
    }
}
section#service{
    padding-top: 104px; 
}

section#service .img-section1 img {
    width: auto;
}
section#service .img-section1 {
    padding-left: 70px;
}
section#service .text-header{
    padding-bottom: 24px;
    padding-right: 50px;
}
section#service .text{
    padding-right: 60px;
}

@media only screen and (max-width : 576px)  {
   
    section#service .img-section1 {
        padding-left: 0;
    }
    section#service .img-section1 img{
        width:100% ;
    }
    section#service .text-header{
        padding-right : 0px;
        width: 100%;
    }
    section#service .text{
        padding-right: 0px;
        width: 100%;
        
    }
}
section#whyus{
    padding-top: 100px;
}

section#whyus .card{
    width: 100%;
    padding-left: 24px;
    padding-top: 24px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 8px;

}
section#whyus .card-body{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-left:0;
 
}
section#whyus .card img{
    width: 32px;
}
.card-text{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
@media only screen and (max-width : 576px)  {
    section#whyus .card{
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media (min-width : 577px) and (max-width : 991px)  {
    section#whyus .card{
        margin-bottom: 20px;
    }
}
@media only screen and (min-width : 991px) {
    section#whyus .card{
        height: 100%;
    }
}

section#testimonial{
    padding-top: 80px;
}
section#testimonial .card .img {
    padding-top: 35px;
}
  
section#testimonial .card-body p {
    text-align: justify;
}
  
#carouselExampleControlsNoTouching {
    margin-top: 2%;
}
  
.btn-carousel {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
  
.carousel-control {
    background: #5cb85f;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    margin-right: 8px;
}
  
.carousel-control:hover {
    background-color: grey;
}
  
.tombol-crsl{
    width: 15px;
    height: 15px;
}
  
.star{
    display: inline;
    float: left;
}
  
.section4 .card{
    background-color: #f1f3ff;
}
  
.carousel{
    width: 130%;
    left: -15%;
}
  
.overflow{
    overflow: hidden;
  }
section#testimonial {
    margin-bottom: 106px;
}
section#testimonial .card{
    background: #F1F3FF;
}


section#rent .container{
    background: #0D28A6;
    border-radius: 13px;
    padding-top: 64px;
    padding-bottom: 64px;    
}
section .container .text-rent{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;
}
section#rent  .text{
    padding-left: 320px;
    padding-right: 320px;
    margin-bottom: 52px;
    color: white;
}
@media only screen and (max-width : 768px)  {
    section .container .text-rent{
        font-size: x-large;
    }
    #rent .text-rent{
       padding-left: 20px;
       padding-right: 20px;
       width: 100%;
       text-align: center;
    }
    section#rent .text{
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        text-align: center;
     }
}

section#FAQ{
    margin-bottom: 150px;
    padding-top: 100px;
}

section#FAQ .col-md-7  .accordion-item{
    border-top:  1px solid rgba(0,0,0,.125);
    margin-bottom: 16px;
}

@media only screen and (max-width : 766px)  {
    section#FAQ{
        margin-bottom: 50px;
    }
    section#FAQ .text{
       text-align: center;
    }
    section#FAQ .text-header{
        text-align: center;
     }
}

footer {
    margin-bottom: 100px;
}
footer a{
    padding-top: 0;
    padding-bottom: 0;
}
footer .rectangle {
    width: 100px;
    height: 34px;
    background-color: #0d28a6;
  }
  @media only screen and (max-width : 766px)  {
    footer .footer-nav{
        padding-left: 0;
        padding-bottom: 10px;
    }
    footer a .text{
        padding-left: 0px;
    }
    footer .icon{
        padding-bottom: 15px;
    }
    footer .copyright{
       padding-left: 12px;
    }
}